.Navbar {
	background-color: lightblue;
	border-bottom: 2px solid black;
}

.nav-link.active {
	font-weight: bold;
	color: black;
}

.cart {
	color: #007bff;
}

.cart-num {
	font-weight: bold;
	color: rgb(91, 86, 129);
}
